#exphover{
    color: black;
}

#exphover:hover{
    color: white;
    background-color: rgb(80, 164, 249);
    transform: translateY(-2px); /* Lift the button */
  transition: all 0.3s ease-in-out;
}